<section class="mainbar">
    <section class="matter">
        <div class="container-fluid">
            <!--<div class="row-fluid">
                <div class="form-search">
                    <input class="input-medium search-query"
                           data-ng-model="vm.speakerSearch"
                           data-ng-keyup="vm.search($event)"
                           placeholder="live search..." />
                    <div class="btn-group pull-right">
                        <a class="btn btn-info"
                           data-ng-click="vm.refresh()"><i class="icon-refresh"></i><span>Refresh</span></a>
                    </div>
                </div>
            </div>-->
            <div class="row-fluid">
                <div class="widget wviolet">
                    <div widget-header
                         title="{{vm.title}}"
                         subtitle="{{vm.sages.length}}"></div>

                    <div class="widget-content user">
                        <proverb-sage ng-repeat="s in vm.sages | orderBy:'name'"
                                      id="s.id"
                                      name="s.name"></proverb-sage>
                    </div>

                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
